.modify-image-container {
  margin-top: 50px;
  text-align: center;
}

.modify-image-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modify-image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modify-image-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.modify-image-button {
  background-color: #0070C0;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modify-image-button:hover {
  background-color: #005DA6;
}
